<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Tag</title>
</head>
<body>
    <h1>Create Tag</h1>
    <form action="#" th:action="@{/createTag}" th:object="${tag}" method="POST">
        <input type="text" th:field="*{name}"
               placeholder="Tag Name">
        <input type="submit" value="create post" id="submit-button">
    </form><br><br>

    <table>
        <thead>
        <th>

        </th>
        </thead>
        <tbody>
        <tr th:each="eachTag : ${tags}">
            <td th:text="${eachTag.name}"></td>
            <td> <a th:href="@{/deleteTag/{id}(id=${eachTag.id})}" >Delete</a>
        </tr>
        </tbody>
    </table>




</body>
</html>